<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    

<form th:action="@{/login/iniciar}" th:object="${usuario}" method="post">
    <div class="errorblock" th:if="${#fields.hasErrors('*')}">
        <ul>
            <li th:each="err : ${#fields.errors('*')}"
                th:text="${err}">Input is incorrect</li>
        </ul>
    </div>
    <fieldset>
        <legend>Datos del usuario</legend>
        <table>
            <tr>
                <td><input type="text" name="user" th:field="*{nombre}" /></td>
            </tr>
          
          
            <tr>
                <td><input type="password" name="pass" th:field="*{password}" /></td>
            </tr>
         
        
            <tr>
                <td>
                    <button type="submit">Registrar...</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>

<footer  th:replace="~{plantilla/plantilla :: plantilla}" ></footer>


</body>
</html>